.testimonials .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffd938;
  font-weight: 600;
  text-shadow: 2px 2px 4px #1F1A1A;
  margin-top: 20px;
}

.testimonials .carousel-inner .carousel-item h4 {
  font-size: 16px;
  font-weight: 300;
  color: #cad936;
  text-shadow: 2px 2px 4px #1F1A1A;
}

.testimonials p {
  font-size: 30px;
  font-weight: 400;
background-attachment: scroll;
background-clip: text;
background-color: rgba(0, 0, 0, 0);
background-image: linear-gradient(90deg, rgb(188, 54, 216), rgb(253, 52, 89) 53%, rgb(255, 139, 31) 100%);
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto;
color: rgb(17, 17, 17);
  text-shadow: 2px 2px 4px #1F1A1A;
  margin-top: 20px;
}

hr {
  border: none !important;
}
