.testimonials .carousel-inner .carousel-item h3 {
  font-size: 20px;
  color: #ffd938;
  font-weight: 600;
  text-shadow: 2px 2px 4px #1F1A1A;
}

.testimonials .carousel-inner .carousel-item h4 {
  font-size: 16px;
  font-weight: 300;
  color: #cad936;
  text-shadow: 2px 2px 4px #1F1A1A;
}

.testimonials p {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #1F1A1A;
  margin-top: 20px;
}

.carousel-inner {
    height: 400px !important; /* Ensure this is set on the carousel's parent as well */
}

.carousel-item {
    justify-content: center !important;
    height: 400px !important;
    text-align: center !important;
}

hr {
  border: none !important;
}
